The Rotten Tomatoes data set only has two data sets, movie info and movie reviews. Lets start by looking at the data sets and what type of data each of them hold.

In [39]:
# import relevant libraries for data cleaning and visualization. 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [40]:
#import .tsv files 
#need to specify encoding as 'latin1'

movie_info = pd.read_csv(r"C:\Users\rafav\Documents\Flatiron\Final Project_Section 1\project_data\rt_movie_info.tsv", delimiter='\t',encoding='latin1')
movie_reviews = pd.read_csv(r"C:\Users\rafav\Documents\Flatiron\Final Project_Section 1\project_data\rt_reviews.tsv", delimiter='\t',encoding='latin1')

In [41]:
# see the dimensions of our data set.
movie_info.shape

(1560, 12)

In [42]:
movie_reviews.shape

(54432, 8)

In [43]:
# take a peak at what our data frame looks like. 
movie_info.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [44]:
movie_reviews.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [45]:
movie_info.dtypes

id               int64
synopsis        object
rating          object
genre           object
director        object
writer          object
theater_date    object
dvd_date        object
currency        object
box_office      object
runtime         object
studio          object
dtype: object

We have now got an idea of what our data sets look like, lets start by making sure the data types in each data set are in the correct format for analysis.

In [46]:
#change 'box office' to a numeric value so we can analyze the amount of money the movies made. 
movie_info["box_office"] = pd.to_numeric(movie_info.box_office, errors='coerce')

In [47]:
# we need to change run time to a numeric value as well
movie_info["runtime"] = pd.to_numeric(movie_info.box_office, errors='coerce')

In [48]:
movie_info.dtypes

id                int64
synopsis         object
rating           object
genre            object
director         object
writer           object
theater_date     object
dvd_date         object
currency         object
box_office      float64
runtime         float64
studio           object
dtype: object

In [49]:
movie_reviews.dtypes

id             int64
review        object
rating        object
fresh         object
critic        object
top_critic     int64
publisher     object
date          object
dtype: object

In [50]:
#change the rating of the movie to a numeric value so we can compare values to other variables. 
movie_reviews["rating"] = pd.to_numeric(movie_reviews.rating, errors='coerce')

In [51]:
movie_reviews.dtypes

id              int64
review         object
rating        float64
fresh          object
critic         object
top_critic      int64
publisher      object
date           object
dtype: object

Now that we have checked that everything is in the correct data type format lets check for missing or NaN values and clean both data sets up.

In [52]:
# check to see how many missing values we have in our data set.
movie_reviews.isnull().sum()

id                0
review         5563
rating        53682
fresh             0
critic         2722
top_critic        0
publisher       309
date              0
dtype: int64

In [53]:
movie_info.isnull().sum()

id                 0
synopsis          62
rating             3
genre              8
director         199
writer           449
theater_date     359
dvd_date         359
currency        1220
box_office      1559
runtime         1559
studio          1066
dtype: int64

In [54]:
# lets consider dropping rows that are null from a subset of the data we are interested in inspecting later
movie_reviews.dropna(subset = ['review','rating'], how = 'all', inplace = True)

In [55]:
movie_info.dropna(subset = ['currency','box_office','rating'], how = 'all', inplace = True)

By looking at the data set dimensions after removing the missing values it looks like there were a lot more in the movie_info data set. At this point lets join these data sets using pandas merge to continue our cleaning.

In [59]:
# set the index as id since both data sets have this column in common
#movie_info.set_index('id', inplace=True)
#movie_reviews.set_index('id', inplace=True)

In [60]:
# join the two data sets on the id column that is now the index
movie_info_and_reviews = pd.merge(movie_info, movie_reviews, on='id', how='inner')

In [61]:
movie_info_and_reviews.head()

,synopsis,rating_x,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio,review,rating_y,fresh,critic,top_critic,publisher,date
id,,,,,,,,,,,,,,,,,,
3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,NaN,NaN,Entertainment One,A distinctly gallows take on contemporary fina...,NaN,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,NaN,NaN,Entertainment One,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,NaN,NaN,Entertainment One,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,NaN,NaN,Entertainment One,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,NaN,NaN,Entertainment One,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [62]:
movie_info_and_reviews.shape

(48889, 18)

In [63]:
#check data types 
movie_info_and_reviews.dtypes

synopsis         object
rating_x         object
genre            object
director         object
writer           object
theater_date     object
dvd_date         object
currency         object
box_office      float64
runtime         float64
studio           object
review           object
rating_y        float64
fresh            object
critic           object
top_critic        int64
publisher        object
date             object
dtype: object

In [64]:
#look at summary statistics 
movie_info_and_reviews.describe()

       box_office  runtime    rating_y    top_critic
count        21.0     21.0  748.000000  48889.000000
mean        363.0    363.0    5.130749      0.252490
std           0.0      0.0    2.717939      0.434445
min         363.0    363.0    0.000000      0.000000
25%         363.0    363.0    3.000000      0.000000
50%         363.0    363.0    6.000000      0.000000
75%         363.0    363.0    7.825000      1.000000
max         363.0    363.0    9.800000      1.000000

In [65]:
#check for missing values 
movie_info_and_reviews.isna().sum()

synopsis           34
rating_x            0
genre               1
director         4850
writer           8217
theater_date      935
dvd_date          935
currency        16715
box_office      48868
runtime         48868
studio          10522
review             99
rating_y        48141
fresh               0
critic           1936
top_critic          0
publisher         309
date                0
dtype: int64

There is a lot of missing data in this data set, some columns hae almost no data like runtime and box office. Lets drop those columns and other columns with a dispraportionate amount of missing values.

In [66]:
# drop columns with a dispraportionate amount of missing values. 
movie_info_and_reviews.drop(['director', 'writer','box_office', 'runtime', 'studio', 'rating_y'], axis=1, inplace=True)

After dropping the columns, we see there are some categorical variables that might be useful if we transform them into numerical values by creating dummy variables and then concatenating those columns to the original data frame.

In [68]:
# create dummy variables for the fresh/rotten ratings.
movie_info_and_reviews['fresh_rotten'] = movie_info_and_reviews.fresh.map({'fresh':0, 'rotten' : 1})

In [69]:
#create dummy variables for the movie's rating. 
movie_info_and_reviews['rating_num'] = movie_info_and_reviews.rating_x.map({'R' : 0, 'PG-13' : 1, 'PG' : 2, 'G' : 3, 'NR' :4})

In [70]:
# re examine the data set to check if our new columns were added to the data frame. 
movie_info_and_reviews.head()

,synopsis,rating_x,genre,theater_date,dvd_date,currency,review,fresh,critic,top_critic,publisher,date,fresh_rotten,rating_num
id,,,,,,,,,,,,,,
3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,"Aug 17, 2012","Jan 1, 2013",$,A distinctly gallows take on contemporary fina...,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018",0,0
3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,"Aug 17, 2012","Jan 1, 2013",$,It's an allegory in search of a meaning that n...,rotten,Annalee Newitz,0,io9.com,"May 23, 2018",1,0
3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,"Aug 17, 2012","Jan 1, 2013",$,... life lived in a bubble in financial dealin...,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018",0,0
3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,"Aug 17, 2012","Jan 1, 2013",$,Continuing along a line introduced in last yea...,fresh,Daniel Kasman,0,MUBI,"November 16, 2017",0,0
3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,"Aug 17, 2012","Jan 1, 2013",$,... a perverse twist on neorealism...,fresh,NaN,0,Cinema Scope,"October 12, 2017",0,0

At this point we have transformed and cleaned the data quite a bit. Lets export the data frame as a .csv file for use later in analysis.

In [71]:
# create .csv file of cleaned data to be used later in analysis. 
movie_info_and_reviews.to_csv(r'C:\Users\rafav\Documents\Flatiron\Final Project_Section 1\Cleaned data\Module_1\movie_info_and_reviews_rt.csv')